<html>
<head>
    <title>Importer</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    <div class="container">
        {{ form_start(form) }}
        <h1>Importer</h1>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</body>
</html>